<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="api" value="https://localhost:44361/api/" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="con" connectionString="Data Source=PIE-RD-DESK-056\FatimaSqlServer;Initial Catalog=SchoolMS;User Id=sa;Password=fatima@SQL123;"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementSystem.Properties.Settings.SchoolMSConnectionString"
      connectionString="Data Source=PIE-RD-DESK-056\FatimaSqlServer;Initial Catalog=SchoolMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolMSEntities1" connectionString="metadata=res://*/ModelEntity.Model1.csdl|res://*/ModelEntity.Model1.ssdl|res://*/ModelEntity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PIE-RD-DESK-056\FATIMASQLSERVER;initial catalog=SchoolMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>