<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="api" value="https://localhost:44361/api/" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<connectionStrings>
		<add name="con" connectionString="Data Source=PIE-RD-DESK-056\FatimaSqlServer;Initial Catalog=SchoolMS;User Id=sa;Password=fatima@SQL123;"
		   providerName="System.Data.SqlClient" />
		<add name="SchoolManagementSystem.Properties.Settings.SchoolMSConnectionString"
		  connectionString="Data Source=PIE-RD-DESK-079\FADHELWORK2;Initial Catalog=SchoolMS;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<add name="SchoolMSEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PIE-RD-DESK-056\FatimaSqlServer;initial catalog=SchoolMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		  providerName="System.Data.EntityClient" />
		<add name="SchoolMSEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PIE-RD-DESK-056\FatimaSqlServer;initial catalog=SchoolMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		  providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>